{% extends "merka/base.html" %}

{% block title %}-Portada{% endblock %}

{% block content %}
<section id="productos1">
  <p>---------------------------------------------------------------------</p>
  <h2><b>Productos Destacados</b></h2>
  <p>---------------------------------------------------------------------</p>

  {% if productos %}
        <ul>
            {% for producto in productos %}
            <li > <a  href="">  <p><b>{{ producto.nombre }}</b></p> </a></li>

            {% endfor %}
        </ul>
    {% else %}
        <strong>No hay productos presentes.</strong>
    {% endif %}
  

</section>



<section id="not-publ">
  <aside id="noticias">
        <p>---------------------------------------------------------------------</p>
        <h2><b>Noticias</b></h2>
        <p>---------------------------------------------------------------------</p>
  </aside>





</section>
{% endblock %}
